

.body {
  background-image: url("../images/brushed_alu_dark.png");
  z-index: -1;
 
  
}

.head {
  text-align: center;
  color: rgb(188, 200, 210);
}

.mainSection {
  position: relative;
}

.date {
    position: absolute;
    color: rgb(188, 200, 210);
    text-align: center;
    max-width: 250px;
    padding: 10px;
    left:0;
    right:279px;
    margin:0 auto;
    border: 2px groove black;
    box-shadow:10px 10px 8px #000000;
}

.inspiration {
  position: absolute;
  color: rgb(188, 200, 210);
  text-align: center;
  max-width: 250px;
  height: 270px;
  padding: 10px;
  left:0;
  right:279px;
  margin:288px auto;
  margin-bottom: 0;
  border: 2px groove black;
  box-shadow:10px 10px 8px #000000;
}

.currentTodoDiv {
  position: absolute;
  text-align: center;
  color: rgb(188, 200, 210);
  max-width: 250px;
  padding: 10px;
  left:0;
   right:279px;
  margin:76px auto;
  border: 2px groove black;
  box-shadow:10px 10px 8px #000000;
  overflow: scroll;
}

.showDate {
  font-size: 20px;
}

.calenderTitle {
    position: absolute;
    color: rgb(188, 200, 210);
    text-align: center;
    max-width: 250px;
    height: 59px;
    padding: 10px;
    left:0px;
    right:279px;
    margin:183.8px auto;
    border: 2px groove black;
    box-shadow:10px 10px 8px #000000;
    overflow: scroll;
}

.allHours {
    position: absolute;
    color: rgb(188, 200, 210);
    text-align: center;
    
    padding: 10px;
    left:339px;
    right:0;
    margin:-9px auto;
   
}


.save {
  border: 1px none #888;
  background-color: rgba(218, 218, 218, 0.47);
}



.btn {
    border: 1px solid #888;
    background-color: rgba(20, 145, 185, 0.37);
   
    width: 250px;
    padding: 20px;
    margin: auto;
    font-size: 20px;
    color: rgb(188, 200, 210);
    transition: all .2s ease-in-out;
}


.btn:hover {
    transform: scale(1.1); 
    box-shadow: 10px 10px 8px #000000;
}






#modal-container1 {
    display: none;
    
  }
  #modal-container2 {
    display: none;  
  }
  #modal-container3 {
    display: none;  
  }
  #modal-container4 {
    display: none;  
  }
  #modal-container5 {
    display: none;  
  }
  #modal-container6 {
    display: none;  
  }
  #modal-container7 {
    display: none;  
  }
  #modal-container8 {
    display: none;  
  }
  #modal-container9 {
    display: none;  
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: #586994;
    color: white;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-content {
    position: relative;
    background-color: #fefefe;
    
    padding: 0;
    border: 1px solid #888;
    max-width: 250px;
    left:0;
    right:0;
    margin:0 auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    
  }


  @media only screen and (max-width: 650px) {
   
  
   
   
    .date {
     
      left:0;
     right:0px;
      margin:0 auto;
      
  }
  
 .inspiration {
    
    left:0;
   right:0px;
    margin:900px auto;
    margin-bottom: 100px;
  }
  
  .currentTodoDiv {
    position: absolute;
    text-align: center;
    color: rgb(188, 200, 210);
    max-width: 250px;
    padding: 10px;
    left:0;
     right:0px;
    margin:76px auto;
    border: 2px groove black;
    box-shadow:10px 10px 8px #000000;
    overflow: scroll;
  }
  
 
  
  .calenderTitle {
    
      
      right:0px;
      margin:183.8px auto;
      
  }
  
  .allHours {
    
      left:0px;
      right:0;
      margin:285px auto;
     
  }
  }